{% extends 'admin/_includes/index.html.twig' %}

{% block titre %}{{ menu.getRoute }}{% endblock %}

{% block page_content %}
    {% set new=menu.getRoute %}
    <div class="page-header">
        <div class="row align-items-center">
            <div class="col-sm mb-2 mb-sm-0">
                <h1 class="page-header-title">Courriers arrivés</h1>
            </div>

            <div class="col-sm-auto">
                <a class="btn btn-primary" {% if new !="admin" %} href="{{ path( new ~'_new') }}" {% endif%} {% if modal=="modal" %} data-toggle="modal" data-target="#editUserModal" {% endif %}>
                    <i class="tio-user-add mr-1"></i>Nouveau
                </a>
            </div>
        </div>
    </div>
    <!-- Card -->
    <div class="card mb-3 mb-lg-5">
        {% include 'admin/tableau/card.html.twig'  with {'titre':titre } %}
        <div class="table-responsive datatable-custom">
            <table id="datatable" class="table table-borderless table-thead-bordered table-nowrap table-align-middle card-table"
                   data-hs-datatables-options='{
                     "columnDefs": [{
                        "targets": [],
                        "orderable": false
                      }],
                     "order": [],
                     "info": {
                       "totalQty": "#datatableWithPaginationInfoTotalQty"
                     },
                     "search": "#datatableSearch",
                     "entries": "#datatableEntries",
                     "pageLength": 7,
                     "isResponsive": false,
                     "isShowPaging": false,
                     "pagination": "datatablePagination"
                   }'>
                <thead class="thead-light">
                <tr>
                    <th scope="col" class="table-column-pr-0">
                        <div class="custom-control custom-checkbox">
                            <input id="datatableCheckAll" type="checkbox" class="custom-control-input">
                            <label class="custom-control-label" for="datatableCheckAll"></label>
                        </div>
                    </th>


                    {% for ent in tableau %}
                        <th class="table-column-pl-1" >{{ ent }}</th>
                    {% endfor %}
                    <th class="" rowspan="1" colspan="1" aria-label="" style="width: 74.512px;">Actions</th>
                </tr>
                </thead>
            <tbody class="tbody">
            {% for data in pagination %}

                <tr>
                    <td class="table-column-pr-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="usersDataCheck4">
                            <label class="custom-control-label" for="usersDataCheck4"></label>
                        </div>
                    </td>
                    <td class="table-column-pr-0">
                        {{ data.numero }}
                    </td>
                    <td class="table-column-pr-0">
                        {{ data.dateReception | date("m-d-Y") }}
                    </td>
                    <td class="table-column-pr-0">
                        {{ data.objet }}
                    </td>
                    <td class="table-column-pr-0">
                        {{ data.expediteur.nom }}
                    </td>

                   {# <td class="active">
                        {% if data.active == 1 %}<span class="legend-indicator bg-success"></span><span class="el">Activé</span>
                        {% else%}<span class="legend-indicator bg-danger"></span><span class="el">Désactivé</span> {% endif %}</td>
#}
                    <td table-column-pr-1>
                        <a title="Détails" class="btn btn-sm btn-primary" href="{{ path( new ~ '_show',{'id':data.id}) }}" {% if modal=="modal" %} data-toggle="modal" data-target="#editUserModal" {% endif %}>
                            <i class="tio-visible-outlined"></i>
                        </a>
                        <a title="Editer" class="btn btn-sm btn-white" href="{{ path( new ~ '_edit',{'id':data.id}) }}" {% if modal=="modal" %} data-toggle="modal" data-target="#editUserModal" {% endif %}>
                            <i class="tio-edit"></i>
                        </a>
                        <a title="Supprime" class="btn btn-sm btn-danger" href="{{ path( new ~ '_edit',{'id':data.id}) }}" {% if modal=="modal" %} data-toggle="modal" data-target="#editUserModal" {% endif %}>
                            <i class="tio-delete"></i>
                        </a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
        {{ include ('admin/tableau/tableau_card_footer.html.twig') }}
    </div>


{% endblock %}

