<td table-column-pr-1>
	{% set action=module %}
	<a class="btn btn-sm btn-primary" href="{{ path( action ~ '_show',{'id':data.id}) }}" {% if modal=="modal" %} data-toggle="modal" data-target="#editUserModal" {% endif %}>
		<i class="tio-visible-outlined"></i>
	</a>
	<a class="btn btn-sm btn-white" href="{{ path( action ~ '_edit',{'id':data.id}) }}" {% if modal=="modal" %} data-toggle="modal" data-target="#editUserModal" {% endif %}>
		<i class="tio-edit"></i>
	</a>

	{#<a class="btn btn-sm btn-danger" href="{{ path( action ~ '_delete',{'id':data.id}) }}" {% if modal=="modal" %} data-toggle="modal" data-target="#editUserModal" {% endif %}>
		<i class="tio-edit"></i>
	</a>#}

    <a href="{{ path( action ~ '_active',{'id':data.id}) }}" class="{% if data.active == 1 %} btn btn-sm btn-outline-success {% else %} btn btn-sm btn-outline-danger {% endif %} btn-sm activer">
        {% if data.active == 1 %}

            <i class="tio-checkmark-circle"><span class="path1"></span><span class="path2"></span></i>
        {% else %}

            <i class="tio-stop-circle"><span class="path1"></span><span class="path2"></span></i>
        {% endif %}
    </a>
	{% if action =="membre" %}
	<a class=" btn btn-sm btn-outline-warning"  id="exporter" href="{{ path('fiche',{'id':data.id}) }}" target="__blank" >
		<i class="tio-download-to mr-1"></i>
	</a>
	{% endif %}
</td>